{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col mt-4">
    <h3>Complete</h3>
</div>
</div>

<hr/>

<div class="row">
<div class="col">
    <p>Thank you for completing this study. Please enter the following code on Amazon Mechanical Turk in order to receive your compensation (pending verification of the code):</p>

    <blockquote class="blockquote">
    <b>{{ request.user.unique_key }}</b>
    </blockquote>

    <p>You may now <a href="{% url 'dining_room:logout' %}">exit the study</a></p>
</div>
</div>
{% endblock %}
