{% extends "base.html" %}

{% block content %}
<div class="container">

<div class="row">
    <div class="col">
    <h3 class="my-4">Assisting a robot in a household task</h3>

    <p>In this study, a robot has the job of retrieving a cup of coffee and bringing it to the couch. You will</p>

    <ul>
        <li>observe a camera feed from the robot's "eyes"</li>
        <li>provide information on any problems that occur</li>
        <li>instruct the robot on what actions to take</li>
    </ul>

    <p>Your data is anonymized and no personally identifiable information will be collected. We set a cookie to track your progress through the study, but the cookie is invalidated when the study session is complete. The cookie cannot be reused on third-party websites.</p>

    <p>You must complete the full study and obtain an authorization code at the end to receive full payment.</p>

    <p>This study must be completed on a computer (not mobile phone or tablet) using either the latest Google Chrome or the latest Mozilla Firefox web browsers.</p>

    <p><b>By completing the following questionnaire below, you agree that you have read the text above and agree to abide by it.</b></p>
    </div>
</div>

<hr/>

{% spaceless %}
<div class="row justify-content-center">
    <form method="post" action="{% url 'dining_room:demographics' %}" class="col">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    {% with radio_fields="age_group gender robot_experience" horizontal_radio_fields="gender robot_experience" %}
    {% for field in form.visible_fields %}

    {% if field.name in radio_fields.split and field.name in horizontal_radio_fields.split %}
        <fieldset class="form-group">
        <div class="row">
            <legend class="col col-form-label"><h5>{{ field.label }}</h5></legend>
        </div>
        {% if field.errors %}
        <div class="row">
        <div class="col alert alert-danger">{% for error in field.errors %}<p class="my-1">{{ error }}</p>{% endfor %}</div>
        </div>
        {% endif %}
        <div class="row">
        <div class="col btn-group" data-toggle="buttons">
            {% for value, name in field.field.choices %}
            {% if value != '' %}
            <button class="col btn btn-outline-dark form-check-label {% if value|safe == field.value|safe %}active{% endif %}">
            <input class="form-check-input" type="radio" name="{{ field.name }}" value="{{ value }}" style="display: none" {% if value|safe == field.value|safe %}checked{% endif %}> {{ name }}
            </button>
            {% endif %}
            {% endfor %}
        </div>
        </div>
        </fieldset>
    {% elif field.name in radio_fields.split %}
        <fieldset class="form-group">
        {% if field.errors %}
        <div class="row">
        <div class="col alert alert-danger">{% for error in field.errors %}<p class="my-1">{{ error }}</p>{% endfor %}</div>
        </div>
        {% endif %}
        <div class="row">
            <legend class="col-form-label col-sm-3 py-0"><h5>{{ field.label }}</h5></legend>
            <div class="col-sm">
                {% for value, name in field.field.choices %}
                {% if value != '' %}
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="id_{{ field.name }}_{{ value }}" name="{{ field.name }}" value="{{ value }}" {% if value|safe == field.value|safe %}checked{% endif %}>
                  <label class="form-check-label" for="id_{{ field.name }}_{{ value }}">{{ name }}</label>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        </fieldset>
    {% else %}
        {% if field.errors %}
        <div class="row">
        <div class="col alert alert-danger">{% for error in field.errors %}<p class="my-1">{{ error }}</p>{% endfor %}</div>
        </div>
        {% endif %}
        <div class="form-group row">
            <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label"><h5>{{ field.label }}{% if field.name == 'amt_worker_id' %}<small> (<a href="https://blog.mturk.com/get-to-know-the-new-worker-site-4a69967d90c3" target="_blank">where is this?</a>)</small>{% endif %}</h5></label>
            <div class="col-sm">
                <input type="text" name="{{ field.name }}" id="{{ field.id_for_label }}" value="{{ field.value|default_if_none:'' }}">
            </div>
        </div>
    {% endif %}

    {% endfor %}
    {% endwith %}

    <div class="row my-5">
        <div class="col-6 offset-3">
        <input type="submit" value="Submit" class="btn btn-lg btn-block btn-outline-primary">
        </div>
    </div>
    </form>
</div>
{% endspaceless %}

</div>
<style type="text/css">
    html, body {
        height: 100%;
    }
</style>
{% endblock %}
