{% extends "base.html" %}

{% block content %}
<div class="container-fluid">

<div class="row justify-content-center">
    {% if form.errors %}
    <div class="alert alert-danger">
    {{ form.non_field_errors }}
    </div>
    {% endif %}
</div>

<div class="row justify-content-center">
    <form method="post" action="{% url 'dining_room:demographics' %}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    <table class="table table-borderless">
    {% for field in form.visible_fields %}
        {% if field.errors %}
        <tr>
            <td class="alert alert-danger">{{ field.errors }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
        </tr>
    {% endfor %}
    </table>

    <input type="submit" value="submit" class="btn btn-block btn-outline-primary">
    </form>
</div>

</div>
<style type="text/css">
    html, body {
        height: 100%;
    }
</style>
{% endblock %}

{% block scripts %}
{% endblock %}
