{% extends "base.html" %}

{% block title %}
<title>Instructions | Robot Assistance Study</title>
{% endblock %}

{% block content %}
<div class="container">

<div class="row">
    <h3 class="col mt-4">Instructions</h3>
</div>

<hr/>

<div class="row">
    <p class="col">Please take a moment to view this introductory video:</p>
</div>

<div class="row">
<div class="col">
    <div class="embed-responsive embed-responsive-16by9">
        <video muted controls class="embed-responsive-item">
            <source src="https://dl.dropboxusercontent.com/s/3uyfvpae0gmiy35/complete_task_instructions.mp4">
        </video>
    </div>
</div>
</div>

<div class="row mt-4">
<div class="col">
    <p>To recap:</p>
    <ul>
        <li>The robot is in a living room with three locations - The Couch, The Dining Table, and The Kitchen Counter (shown below).</li>
        <li>The robot recognizes three objects in this environment - The Jug, The Bowl, and The Cup (shown below).</li>
        <li>The robot has been given the goal of picking up the Cup from the Kitchen Counter and taking it to the Couch.<!--  <small>(in anticipation of a human arriving to receive the cup)</small> -->.</li>
    </ul>
</div>
</div>

<div class="row">
<div class="col-sm-8 d-flex justify-content-center">
    <figure class="figure text-center">
        <img src="https://dl.dropboxusercontent.com/s/bonho7r7kvhbskk/environment.png" class="figure-img img-fluid rounded">
        <figcaption class="figure-caption">The locations in the living room known to the robot.</figcaption>
    </figure>
</div>
<div class="col-sm d-flex justify-content-center">
    <figure class="figure text-center">
        <img src="https://dl.dropboxusercontent.com/s/pzmkkhqd4rv40lm/objects.png" class="figure-img img-fluid rounded">
        <figcaption class="figure-caption">The objects (from left-to-right):<br/>the Jug, the Cup, and the Bowl.</figcaption>
    </figure>
</div>
</div>

<hr/>

<div class="row">
    <p class="col">The robot may encounter problems in completing its task. If the robot encounters a problem, it is designed to seek assistance from a remote human, such as yourself. In such an event, your job is to direct the robot using a Web UI (below) so that it ends up by the Couch with the Cup.</p>
</div>

<div class="row">
<div class="col">
    <figure class="figure text-center" style="min-width: 480px;">
        <figcaption class="figure-caption mb-2">The Web UI for directing the robot has {% if request.user.show_dx_suggestions or request.user.show_ax_suggestions %}six{% else %}five{% endif %} sections.</figcaption>
        {% if request.user.show_dx_suggestions and request.user.show_ax_suggestions %}
        <img src="https://dl.dropboxusercontent.com/s/h4yrxgpw23jghzk/ui_dx_ax.png" class="figure-img img-fluid rounded border">
        {% elif request.user.show_ax_suggestions %}
        <img src="https://dl.dropboxusercontent.com/s/cw176tczopw50mj/ui_ax.png" class="figure-img img-fluid rounded border">
        {% elif request.user.show_dx_suggestions %}
        <img src="https://dl.dropboxusercontent.com/s/wgrfnod2mzuoqly/ui_dx.png" class="figure-img img-fluid rounded border">
        {% else %}
        <img src="https://dl.dropboxusercontent.com/s/irtjzezwf9s072k/ui_baseline.png" class="figure-img img-fluid rounded border">
        {% endif %}
    </figure>
</div>
</div>
<div class="row">
<div class="col">
    <p>Here are the details of the three questions you will be asked when controlling the robot:</p>
    <ul class="list-group mt-2">
        <li class="list-group-item">You will first be asked what <b>problems</b> you think might be preventing the robot from achieving its goal. You <b class="text-info">may select multiple problems, but you must select atleast one</b>. If you think that there is no problem, you may select that as an option.</li>
        <li class="list-group-item">You will then be asked how <b>confident</b> you are of the problems that you may identified. Simply <b class="text-info">move the slider</b> based on your level of confidence.</li>
        <li class="list-group-item">Finally, you will be asked to take an <b>action</b> to help the robot move towards its goal. After you <b class="text-info">select an action</b>, there will be a momentary delay as communications with the robot are reestablished and the robot is prepared to execute your command.</li>
    </ul>
</div>
</div>

<div class="row mt-4">
    <p class="col">The following is a brief explanation of the types of actions the robot can execute:</p>
</div>
<dl class="row">
    <dt class="col-sm-3 alert alert-info">Navigate to <span class="font-weight-normal">[location]</span></dt>
    <dd class="col-sm-9">The robot moves to the desired location (among the three available) in the room.</dd>

    <dt class="col-sm-3 alert alert-info">Look at <span class="font-weight-normal">[location]</span></dt>
    <dd class="col-sm-9">The robot moves away from its current location to point its camera at the desired location. After viewing that location for a few seconds, the robot returns to looking at its original location.</dd>

    <dt class="col-sm-3 alert alert-info">Update robot's location belief to <span class="font-weight-normal">[location]</span></dt>
    <dd class="col-sm-9">The robot updates where in the room it thinks it is. For example, if the robot thinks it is at the Kitchen Counter when in reality it is at the Couch, this action can update that mistaken belief.</dd>

    <dt class="col-sm-3 alert alert-info">Pick up <span class="font-weight-normal">[object]</span></dt>
    <dd class="col-sm-9">The robot picks up the object in question if it is unblocked and its hand is empty.</dd>

    <dt class="col-sm-3 alert alert-info">Put away held object</dt>
    <dd class="col-sm-9">The robot puts away the object in its hand. This might involve arm motion that is not visible in the robot's camera.</dd>
</dl>

<div class="row">
    <p class="col">During the course of the study, please <span class="text-danger"><b>do not press the browser's Back or Refresh buttons</b></span>.</p>
</div>

<hr/>

<div class="row">
    <p class="col">If you understand these instructions, please click Next.</p>
</div>

<div class="row my-5">
    <div class="offset-8 col-4">
        <a href="{% url 'dining_room:test' %}" class="btn btn-block btn-outline-primary btn-lg">Next</a>
    </div>
</div>


</div>
{% endblock %}
