{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'dining_room/study.css' %}">
{% endblock %}

{% block content %}
<div id="app">
</div>

<div>
    <p>Temporary placeholder to <a href="{% url 'dining_room:survey' %}">next page</a></p>
</div>
{% endblock %}

{% block postscripts %}
<script src="{% static 'dining_room/study.jsx' %}" type="text/babel"></script>
<script type="text/babel">
    const start_state = "{{ request.user.start_condition }}";
    var current_state = "{{ current_state }}";
    var current_transition = "{{ current_transition }}";
</script>
{% endblock %}
