{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'dining_room/study.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css" integrity="sha256-G3IAYJYIQvZgPksNQDbjvxd/Ca1SfCDFwu2s2lt0oGo=" crossorigin="anonymous" />
{% endblock %}

{% block content %}
<!-- We want to set these constant before the React app is loaded -->
<script type="text/javascript">
    window.constants = {
        INITIAL_STATE: {
            ui_state: {
                video_loaded: false,
                video_playing: false,
                confirmed_dx: [],
                dx_certainty: null,
                selected_action: null,
                selected_action_idx: 0,
                // Timestamps
                video_loaded_time: null,
                video_stop_time: null,
                dx_selected_time: null,
                dx_confirmed_time: null,
                ax_selected_time: null
            },
            scenario_state: {{ scenario_state|safe }},
            history: {
                dx_to_add: null,
                ax_to_add: null,
                result_to_add: null,
                history: []
            }
        },
        NEXT_URL: "{% url 'dining_room:survey' %}",
        NEXT_STATE_URL: "{% url 'dining_room:xhr_next_state' %}",
        EXPERIMENT_CONDITION: {
            show_dx_suggestions: {{ request.user.show_dx_suggestions|yesno:"true,false" }},
            show_ax_suggestions: {{ request.user.show_ax_suggestions|yesno:"true,false" }}
        },
        ACTIONS: {{ actions_constant|safe }},
        ACTIONS_ORDER: {{ actions_order_constant|safe }},
        DIAGNOSES: {{ diagnoses_constant|safe }},
        DIAGNOSES_ORDER: {{ diagnoses_order_constant|safe }}
    };
</script>

<div id="app">
</div>
<noscript>You need to enable JavaScript for this study</noscript>
{% endblock %}

{% block scripts %}
<script src="{% static 'dining_room/study.js' %}"></script>
{% endblock %}
