{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin>
<link rel="stylesheet" href="{% static 'dining_room/study.css' %}">
{% endblock %}

{% block content %}
<div id="app">
</div>

<div>
    <p>Temporary placeholder to <a href="{% url 'dining_room:survey' %}">next page</a></p>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'dining_room/study.js' %}"></script>

<script type="text/javascript">
    const START_STATE = "{{ request.user.start_condition }}";
    var CURRENT_STATE = "{{ current_state }}";
    var CURRENT_TRANSITION = "{{ current_transition }}";
</script>
{% endblock %}
