{% extends "base.html" %}

{% block title %}
<title>Survey | Robot Assistance Study</title>
{% endblock %}

{% block content %}
<div class="container">

<div class="row mt-4">
<h5 class="col">Please indicate the degree to which you agree or disagree with the statements below:</h5>
</div>

<hr/>

{% spaceless %}
<div class="row justify-content-center">
    <form method="post" action="{% url 'dining_room:survey' %}" class="col">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    {% with comment_fields="comments" %}
    {% for field in form.visible_fields %}

    {% if field.name not in comment_fields.split %}
        <fieldset class="form-group">
        <div class="row">
            <legend class="col col-form-label"><p>{{ field.label }}</p></legend>
        </div>
        {% if field.errors %}
        <div class="row">
        <div class="col alert alert-danger">{% for error in field.errors %}<p class="my-1">{{ error }}</p>{% endfor %}</div>
        </div>
        {% endif %}
        <div class="row">
        <div class="col btn-group" data-toggle="buttons">
            {% for value, name in field.field.choices %}
            {% if value != '' %}
            <button class="col btn btn-outline-info form-check-label {% if value|safe == field.value|safe %}active{% endif %}">
            <input class="form-check-input" type="radio" name="{{ field.name }}" value="{{ value }}" style="display: none;" {% if value|safe == field.value|safe %}checked{% endif %}> {{ name }}
            </button>
            {% endif %}
            {% endfor %}
        </div>
        </div>
        </fieldset>
    {% else %}
        <hr/>
        <div class="form-group">
            {% if field.errors %}
            <div class="row">
            <div class="col alert alert-danger">{% for error in field.errors %}<p class="my-1">{{ error }}</p>{% endfor %}</div>
            </div>
            {% endif %}
            <label for="{{ field.id_for_label }}"><h5>{{ field.label }}</h5></label>
            {{ field }}
        </div>
    {% endif %}

    {% endfor %}
    {% endwith %}

    <div class="row my-5">
        <div class="col-6 offset-3">
        <input type="submit" value="Submit" class="btn btn-lg btn-block btn-outline-primary">
        </div>
    </div>
    </form>
</div>
{% endspaceless %}

</div>
<style type="text/css">
    html, body {
        height: 100%;
    }
</style>
{% endblock %}
