{% extends "base.html" %}

{% block title %}
<title>Instructions | Robot Assistance Study</title>
{% endblock %}

{% block content %}
<div class="container">

<div class="row">
    <div class="col mt-4">
    <h3>Knowledge Review</h3>
    <p>Please answer the following questions to the best of your ability before proceeding; <b>you must answer all questions correctly in order to proceed</b>. You may return to the instructions to refresh anything you might've forgotten.</p>
    </div>
</div>

<hr/>

{% spaceless %}
<div class="row justify-content-center">
    {% if form.errors %}
    <div class="col">
    <ul class="alert alert-danger">
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
</div>
<div class="row justify-content-center">
    <form method="post" action="{% url 'dining_room:test' %}" class="col">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}

    <fieldset class="form-group">
    {% if field.errors %}
    <div class="row">
    <div class="col alert alert-danger">{% for error in field.errors %}<p class="my-1">{{ error }}</p>{% endfor %}</div>
    </div>
    {% endif %}
    <div class="row">
        <legend class="col-form-label col-8 py-0"><h5>{{ field.label }}</h5></legend>
        <div class="col">
        <div class="row">
            {% for value, name in field.field.widget.choices %}
            {% if value != 'unknown' %}
            <div class="col form-check form-check-inline">
            <h5>
              <input class="form-check-input" type="radio" id="id_{{ field.name }}_{{ value }}" name="{{ field.name }}" value="{{ value }}" {% if value|safe == field.value|safe %}checked{% endif %}>
              <label class="form-check-label" for="id_{{ field.name }}_{{ value }}">{{ name }}</label>
            </h5>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        </div>
    </div>
    </fieldset>
    {% endfor %}

    <div class="row my-5">
        <div class="col-4">
            <a href="{% url 'dining_room:instructions' %}" class="btn btn-block btn-outline-secondary btn-lg">Return to instructions</a>
        </div>
        <div class="col-4 offset-4">
            <input type="submit" value="Submit" class="btn btn-block btn-outline-primary btn-lg">
            <p><small class="text-danger"><b>The instructions will be unavailable once you proceed</b></small></p>
        </div>
    </div>
    </form>
</div>
{% endspaceless %}

</div>
<style type="text/css">
    html, body {
        height: 100%;
    }
</style>
{% endblock %}
